%p#notice= notice

%h3= @post.title

= image_tag @post.image_url(:medium) if @post.image?

%p= @post.description

-if current_user and current_user.id == @post.user_id
  = link_to 'Edit', edit_post_path(@post)
