.row
  %ul.nav-bar
    - if user_signed_in?
      %li
        = link_to 'Timeline', root_url
      %li
        = link_to 'New post', new_post_path
      %li
        = link_to "Find Friends", users_path
      %li
        = link_to 'View profile', current_user
      %li
        = link_to 'Edit profile', edit_user_registration_path
      %li
        = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    - else
      %li
        = link_to 'Home', root_url
      %li
        = link_to 'Login', new_user_session_path
      %li
        = link_to 'Sign up', new_user_registration_path
